<div id="<%= dom_id location %>">
  <ul>
    <li>
      <strong><%= Location.human_attribute_name(:latitude) %>:</strong>
      <%= location.latitude %> |
      <strong><%= Location.human_attribute_name(:longitude) %>:</strong>
      <%= location.longitude %>
      <strong><%= Location.human_attribute_name(:address) %>:</strong>
      <%= location.address %>
      <br>
    </li>
  </ul>
</div>
